<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="CSS/simple-grid.css">

    <title>Document</title>

</head>
<body>
    <img src="/CSS/download.jpeg" alt="">
    <div class="row">
        <div class="countainer">
            <div class="heading">
                <h1>Cricket Score Board</h1>
            </div>
            
                <form action="/action" method="POST">
                <lable  class="">
                 <span>
                     Total Score:
                    <input type="text" class="scoreBox" name="scores" >
                </span>

    <div class="Radios">
   <input type="radio" class="radios" name="action" value="applyScore" >
                    <span class="label-body">SCORE</span>
                </span>

                </lable>

                 <label class="">
                    <input type="radio" class="radios" name="action" value="applyScore" WICKET>
                    <span class="label-body">WICKET</span>
                 </label>

                 <label class="">
                    <input type="radio" class="radios" name="action" value="applyScore" AVAILABLE PLAYERS>
                     <span class="label-body">AVAILABLE PLAYERS</span>

                 </label>
                </form>
    </div>
                 
            {{!-- <form action="/actions" method="GET"> --}}
            <div class="grand">
                <span>
                    <input type="submit" class="grandTotal" value="Grand Total" >
                </span>
            </div>
            {{!-- </form> --}}
            

                            
                <div class="Total">
                </div>

        </div>
    </div>
</body>
</html>